@media (max-width: 1024px) {
    body{
        overflow-x: hidden;
    }


    #HOME, #img-about-section, #img-resume{
        width: 200%;
        
    }

    #HOME{
        position: relative;
        z-index: -5;
        left: -50%;
    }

    #Resume{
        height: 150%;
        margin-top: -3em;
    }

    .container-name{
        margin-left: 5em;
    }

    .container-resume .container-column {
        display: flex;
        flex-direction: column;

    }

    /*ABOUT*/

    .container-about .about{
        margin-top: 3em;
    }

    .container-about {
        margin-bottom: 1em;
    }

    .container-about .about p{
        font-size: 1rem;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        height: 17em;
    
    }

    /*SKILLS*/
    .container-software{
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
        
    }

    .container-software .software-skills .contentSkills{
        height: 0;
        overflow-y: hidden;
    }

    .showSkills{
        height: auto;
        overflow-y: visible;
    }
    

    .container-software .software-skills,.container-software .language, .container-software .skills {
        position: relative;
        z-index: 3;
        top: 0;
        margin-right: auto;
        margin-left: auto; 
        text-align: center;

    }

    .container-software .software-skills #activebtn-skills{
        text-align: center;
        cursor: pointer;
        border: white 2px solid;
        margin-right: auto;
        margin-left: auto;
        width: max-content;
        padding: 0 .5em;
        border-radius: 5px;
        transition: all .5s ease;
        margin-top: .5em;
        margin-bottom: .5em;
    }

    



    .container-software .software-skills #activebtn-skills:hover{
        transform: translateY(-5px);
    }

    .container-software .software-skills .contentSkills .language h2{
        all: unset;
    }

    /*EDUCATION*/

    .container-resume{

    }
    .container-experience .education #activebtn-edu{
        text-align: center;
        cursor: pointer;
        border: white 2px solid;
        margin-right: auto;
        margin-left: auto;
        width: max-content;
        padding: 0 .5em;
        border-radius: 5px;
        transition: all .5s ease;
    }

    .container-experience .education #activebtn-edu:hover{
        transform: translateY(-5px);
    }

    .container-experience .education .content-edu{
        overflow-y: hidden;
        height: 0;
    }

    .showEdu{
        overflow-y: visible;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
    }

 

    /*CREATION*/
    .container-creation{
        margin: 0;
    }

    .container-creation .creation #activebtn-creation{
        text-align: center;
        cursor: pointer;
        border: white 2px solid;
        margin-right: auto;
        margin-left: auto;
        width: max-content;
        padding: 0 .5em;
        border-radius: 5px;
        transition: all .5s ease;
    }
    .container-creation .creation .container-hobbies h2{
        border: white 2px solid;
        margin-right: auto;
        margin-left: auto;
        width: max-content;
        padding: 0 .5em;
        border-radius: 5px;

    }

    .container-creation .creation #activebtn-creation:hover{
        transform: translateY(-5px);
    }

    .container-creation .creation .content-do{
        text-align: center;
        height: 0;
        overflow-y: hidden;
    }

    .showDo{
        text-align: center;
        height: auto;
        overflow-y: visible;
    }
}
